# KernelSU Next
CONFIG_KPROBES=y
CONFIG_KPROBE_EVENTS=y
CONFIG_KSU_KPROBE_HOOKS=y
CONFIG_KSU=y

# -02 compile
CONFIG_CC_OPTIMIZE_FOR_SIZE_AGGRESSIVE=y
# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE is not set
# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE_O3 is not set
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set

# Vibrator
CONFIG_AW8697_HAPTIC=m
CONFIG_INPUT_FF_MEMLESS=y
# CONFIG_INPUT_MSM_VIBRATOR is not set
# CONFIG_INPUT_PM8XXX_VIBRATOR is not set
CONFIG_INPUT_QCOM_HV_HAPTICS=y
# CONFIG_INPUT_GPIO_VIBRA is not set
# CONFIG_INPUT_REGULATOR_HAPTIC is not set
# CONFIG_INPUT_PWM_VIBRA is not set
# CONFIG_INPUT_DRV260X_HAPTICS is not set
# CONFIG_INPUT_DRV2665_HAPTICS is not set
# CONFIG_INPUT_DRV2667_HAPTICS is not set
# CONFIG_LOGIRUMBLEPAD2_FF is not set
# CONFIG_USB_TRANCEVIBRATOR is not set
CONFIG_LEDS_QPNP_VIBRATOR_LDO=y

# FileSystems
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_JBD2=y
CONFIG_FS_MBCACHE=y

CONFIG_F2FS_FS=y
CONFIG_F2FS_FS_SECURITY=y
CONFIG_F2FS_FS_ENCRYPTION=y
CONFIG_F2FS_FS_XATTR=y

CONFIG_FAT_FS=y
CONFIG_VFAT_FS=y
CONFIG_EXFAT_FS=y
CONFIG_FAT_DEFAULT_CODEPAGE=866
CONFIG_FAT_DEFAULT_IOCHARSET="utf8"

CONFIG_NTFS_FS=y
# CONFIG_NTFS_RW is not set

CONFIG_FUSE_FS=y

CONFIG_OVERLAY_FS=y

CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y

CONFIG_EROFS_FS=y
CONFIG_EROFS_FS_XATTR=y

# Disable audit
CONFIG_AUDIT=n
CONFIG_AUDITSYSCALL=n

# Disable crash dump
CONFIG_CRASH_DUMP=n
